/* Pen-specific styles */
* {
    box-sizing: border-box;
  }
  html, body, section, div {
    height: 100%;
  }
  
  body { 
    color: rgb(19, 16, 16);
    font-family: sans-serif;
    font-size: 1.25rem;
    line-height: 150%;
    text-align: center;
    text-shadow: 0 2px 2px #6e6356;
  }
  
  section {
    width: 100%;
  }
  
  article {
    position: relative;
    top: 50%;
    left: 50%;
    padding: 1rem;
    text-align: center;
    transform: translate(-50%, -50%);
  }
  
  h1 {
    font-size: 3.75rem;
    margin: 0 0 0.75rem 0;
  }
  
  /* Pattern styles */
  .right-half {
    background-color: #ffffff;
    float: left;
   /* width: 70%;*/
  }
  .left-half {
    background-color: #ffffff;
    float: left;
    
    /*width: 30%;*/
  }
  .scrollable {
    
    overflow-y: scroll;
  }